.header {
  background-color: #00294C;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 10px;
  box-sizing: border-box;
  min-width: 825px;
}

.logo {
  height: 30px;
  margin-left: 20px;
  width: auto; /* Maintain aspect ratio */
  flex-shrink: 0; /* Prevent the logo from shrinking */
}
