.card-container {
  display: flex;
  justify-content: center;
}

.card-responsive {
  flex: 1;
  max-width: 100%;
}

.headerCell {
  font-weight: 300 !important;
  background: white !important;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Poppins';
}

.ant-table-column-sorter {
  margin-right: 115px !important;
}

.left-aligned-cell {
  text-align: left;
  font-weight: 200;
  font-size: 13px;
  font-family: 'Poppins';
  color: gray;
}

.right-aligned-cell {
  text-align: right;
  font-weight: 200;
  font-size: 13px;
  font-family: 'Poppins';
  color: gray;
  margin-right: 137px;
}
